@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acceptable Beneficial Pelican</title>
    <meta property="og:title" content="Acceptable Beneficial Pelican" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />


    
</head>
<body>
    <link rel="stylesheet" href="./style.css" />
    <div>
        <link href="./index.css" rel="stylesheet" />

        <div class="home-container">
            <span class="home-text">
                <span class="home-text01">"</span>
                <span class="home-text02">Awareness of one's personality</span>
                <br class="home-text03" />
                <span class="home-text04">
                    is the foundation of all personal growth.
                </span>
                <br class="home-text05" />
                <span class="home-text06">
                    Take the first step today with a personality Test"
                </span>
                <br />
            </span>
            <img alt="image"
                 src="https://play.teleporthq.io/static/svg/default-img.svg"
                 class="home-image" />
            <button type="button" class="home-button button">
                <span class="home-text08">
                    <span>Take A Quiz</span>
                    <br />
                </span>
            </button>
        </div>
    </div>
</body>
</html>