@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: linear-gradient(to bottom, #24134f 0%, #875efe 100%);
    }

    .home-container {
        width: auto;
        display: flex;
        min-height: 100vh;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        text-decoration-color: var(--dl-color-theme-secondary1);
    }

    .home-text {
        top: 378px;
        color: rgb(255, 255, 255);
        right: 95px;
        position: absolute;
        font-size: 50px;
        text-align: center;
    }

    .home-text01 {
        font-size: 30px;
    }

    .home-text02 {
        font-size: 50px;
    }

    .home-text03 {
        font-size: 30px;
    }

    .home-text04 {
        font-size: 30px;
    }

    .home-text05 {
        font-size: 30px;
    }

    .home-text06 {
        font-size: 30px;
    }

    

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personality Test</title>
  


    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-theme-neutral-dark);
            background-color: var(--dl-color-theme-neutral-light);
            fill: var(--dl-color-theme-neutral-dark);
        }
    </style>
    <link rel="stylesheet"
          href="https://unpkg.com/animate.css@4.1.1/animate.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&amp;display=swap"
          data-tag="font" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          data-tag="font" />

</head>
<body>
    <link rel="stylesheet" href="./style.css" />
    <div>
        <link href="./index.css" rel="stylesheet" />

        <div class="home-container">
            <span class="home-text">
                <span class="home-text01">"</span>
                <span class="home-text02">Awareness of one's personality</span>
                <br class="home-text03" />
                <span class="home-text04">
                    is the foundation of all personal growth.
                </span>
                <br class="home-text05" />
                <span class="home-text06">
                    Take the first step today with a personality Test"
                </span>
                <br />
            </span>
            <img alt="image"
                 src="https://play.teleporthq.io/static/svg/default-img.svg"
                 class="home-image" />
            <button type="button" class="home-button button">
                <span class="home-text08">
                    <span>Take A Quiz</span>
                    <br />
                </span>
            </button>
        </div>
    </div>
</body>
</html>