@{
    ViewData["Title"] = "Personality Page";
}

<body class="PersonalityPage_Body">
    <section class="Personality_Page" id="Personality_Page">
        <div class="Analysts-Text-Container">
            <img src="~/images/Analyst_Text_new.png" alt="">
        </div>
    </section>
</body>