@{
    ViewData["Title"] = "QuizUI";
}

<body class="QuizUI_Body">
    <link rel="stylesheet" href="~/css/QuizUI.css" />
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="planetbg_container">
            <img src="~/quizui_images/planetbg.png" alt="">
        </div>
        <div class="Title_container">
            <h1 class="maintitle">Question</h1>
        </div>
        <div class="Questionaires">
            <h2 class="questiontitle">Question #1</h2>
            <div class="scale">
                <button class="scale-button yellow" id="yellow1" data-value="1"></button>
                <button class="scale-button yellow" id="yellow2" data-value="2"></button>
                <button class="scale-button yellow" id="yellow3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
            </div>
        </div>
        <div class="Questionaires">
            <h2 class="questiontitle">Question #2</h2>
            <div class="scale">
                <button class="scale-button yellow" id="yellow1" data-value="1"></button>
                <button class="scale-button yellow" id="yellow2" data-value="2"></button>
                <button class="scale-button yellow" id="yellow3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
            </div>
        </div>
        <div class="Questionaires">
            <h2 class="questiontitle">Question #3</h2>
            <div class="scale">
                <button class="scale-button yellow" id="yellow1" data-value="1"></button>
                <button class="scale-button yellow" id="yellow2" data-value="2"></button>
                <button class="scale-button yellow" id="yellow3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
            </div>
        </div>
        <div class="Questionaires">
            <h2 class="questiontitle">Question #4</h2>
            <div class="scale">
                <button class="scale-button yellow" id="yellow1" data-value="1"></button>
                <button class="scale-button yellow" id="yellow2" data-value="2"></button>
                <button class="scale-button yellow" id="yellow3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
            </div>
        </div>
        <div class="Questionaires">
            <h2 class="questiontitle">Question #5</h2>
            <div class="scale">
                <button class="scale-button yellow" id="yellow1" data-value="1"></button>
                <button class="scale-button yellow" id="yellow2" data-value="2"></button>
                <button class="scale-button yellow" id="yellow3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
            </div>
         </div>
        <div class="coloredplanetbg_container">
            <img class="coloredplanetbgimage"src="~/quizui_images/coloredplanetbg.png" alt="">
            @* <img class ="nextbtn" src="~/quizui_images/nextbtn.png" alt="" /> *@
            <button class="nextbtn">
                <div class="circle">
                    <div class="innercircle"></div>
                </div>
                NEXT
            </button>
            
        </div>
    </section>
    <script src="~/js/QuizUI.js"></script>
</body>
