@{
    ViewData["Title"] = "QuizUI";
}

<body class="QuizUI_Body">
    <link rel="stylesheet" href="~/css/QuizUI.css" />
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="planetbg_container">
            <img src="~/quizui_images/planetbg.png" alt="">
        </div>
        <div class="Title_container">
            <h1 class="maintitle">Question</h1>
        </div>
        <div class="Questionaires">
            <h2 class="questiontitle">Question #1</h2>
        </div>

    </section>
    <script src="~/js/QuizUI.js"></script>
</body>
