@{
    ViewData["Title"] = "About Us";
}

<body class="AboutUs_Body">

    @* SECTION 1 - INTRO *@

    <section class="AboutUs_FirstSection">
        <div class="AboutUs_Text_Container1">
            <h1>ABOUT US</h1>
            <p>
                Personality tests typically involve answering <br /> questions or responding to statements,
                and  <br />the responses are then analyzed to generate  <br /> a profile of the individual's personality  <br />
                characteristics.
            </p>

            <div class="button_Container">
                <button class="btn_LearnMore">Learn More</button>
            </div>
        </div>
    </section>

    
</body>
