@{
    ViewData["Title"] = "AboutUs Page";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .AboutUs_Body {
        margin-top: 6%;
    }

    .AboutUs_FirstSection,
    .AboutUs_SecondSection,
    .AboutUs_ThirdSection {
        width: 100%;
        height: 100vh;
        position: relative;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .AboutUs_FirstSection {
        background-image: url("../images/AboutUs-Images/AboutUs_1.png");
    }

    .FirstSection_Heading {
        position: absolute;
        top: 20px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

        .FirstSection_Heading h1 {
            color: #88619A;
            margin: 0;
        }
    
    /* SECOND SECTION */
    .AboutUs_Developer_Images {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 80%;
    }


    .developer_row {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .developer_card {
        text-align: center;
        color: white;
        width: 256px;
        height: 256px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .developer_card img {
            width: 256px;
            height: 256px;
            border-radius: 50%;
            border: 2px solid rgb(55, 165, 128);
        }

    .text_container {
        width: 100%; 
        height: 10%; 
    }

        .text_container h2 {
            font-size: 27.4444px;
            color: rgb(55, 165, 128);
            line-height: 38px;
            letter-spacing: -0.02em;
            text-transform: none;
            list-style-type: none;
        }

        .text_container p {
            font-size: 20px;
            color: rgb(55, 165, 128);
            line-height: 38px;
            letter-spacing: -0.02em;
            text-transform: none;
            list-style-type: none;
        }

    .AboutUs_SecondSection {
        background-image: url("../images/AboutUs-Images/AboutUs_2.png");
    }

    .AboutUs_ThirdSection {
        background-image: url("../images/AboutUs-Images/AboutUs_3.png");
    }
</style>

<body class="AboutUs_Body">
    <section class="AboutUs_FirstSection" id="AboutUs_FirstSection">
        <div class="FirstSection_Heading">
            <h1>MEET OUR TEAM</h1>
        </div>

        <div class="AboutUs_Developer_Images">
            <div class="developer_row">

                <div class="developer_card">
                    <div class="image_container">
                        <div class="text_container">
                            <h2>LEADER</h2>
                        </div>
                        <img src="/images/AboutUs-Images/Groupmates-Images/Garcia.png" alt="Leader">
                        <div class="text_container">
                            <p>Garcia Mark Angelo</p>
                        </div>
                    </div>
                </div>


                <div class="developer_card">
                    <div class="image_container">
                        <div class="text_container">
                            <h2>VICE LEADER</h2>
                        </div>
                        <img src="/images/AboutUs-Images/Groupmates-Images/Salazar.png" alt="Leader">
                        <div class="text_container">
                            <p>Gabriel Angelo Salazar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="AboutUs_SecondSection" id="AboutUs_SecondSection">
        <!-- Additional content can go here if needed -->
    </section>

    <section class="AboutUs_ThirdSection" id="AboutUs_ThirdSection">
        <!-- Additional content can go here if needed -->
    </section>
</body>
