@{
    ViewData["Title"] = "About Us";
}

<body class="AboutUs_Body">

    @* SECTION 1 - INTRO *@

    <section class="AboutUs_FirstSection">
        <div class="AboutUs_Text_Container1">
            <h1>ABOUT US</h1>
            <p>
                Personality tests typically involve answering <br /> questions or responding to statements,
                and  <br />the responses are then analyzed to generate  <br /> a profile of the individual's personality  <br />
                characteristics.
            </p>

            <div class="button_Container">
                <button class="btn_LearnMore">Learn More</button>
            </div>
        </div>
    </section>

    @* SECTION 2 - MEMBERS INFO  *@

    <section class="AboutUs_SecondSection">
        <div class="AboutUs_Text_Container2">
            <h2>The Developers</h2>
        </div>

        <div class="AboutUs_Developer_Images">

            <div class="developer_card">
                <img src="/Images/Garcia.png" alt="Leader">
                <p>Garcia<br>Leader</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Salazar.png" alt="Vice-Leader">
                <p>Salazar<br>Vice-Leader</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Arciaga.jpg" alt="Front-End">
                <p>Arciaga<br>Front-End</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Rodejo.jpg" alt="Back-End">
                <p>Rodejo<br>Back-End</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Reyes.jpg" alt="Back-End">
                <p>Reyes<br>Back-End</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Sarmiento.jpg" alt="Front-End|Resources and UX">
                <p>Sarmiento<br>Front-End|Resources and UX</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Tabin.jpg" alt="Front-End">
                <p>Tabin<br>Front-End</p>
            </div>

            <div class="developer_card">
                <img src="/Images/DeLuna.jpg" alt="Back-End">
                <p>Deluna<br>Role</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Gerolia.jpg" alt="Front-End">
                <p>Gerolia<br>Front-End</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Cresencio.jpg" alt="Front-End|Resources and UX">
                <p>Cresencio<br>Front-End</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Ragiles.jpg" alt="Front-End">
                <p>Ragiles<br>Front-End</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Estrella.jpg" alt="Front-End|Resources and UX">
                <p>Estrella<br>Front-End|Resources and UX</p>
            </div>

            <div class="developer_card">
                <img src="/Images/Rodrin.jpg" alt="Front-End|Resources and UX">
                <p>Rodrin<br>Front-End|Resources and UX</p>
            </div>

            <div class="developer_card">
                <img src="" alt="">
                <p>Belza<br>Front-End|Resources and UX</p>
            </div>

            <div class="developer_card">
                <img src="/Images/" alt="">
                <p>Joice<br>Front-End|Resources and UX</p>
            </div>

            <div class="developer_card">
                <img src="/Images/" alt="">
                <p>Cruz<br>Front-End|Resources and UX</p>
            </div>
        </div>
    </section>

    @* SECTION 3 - Learn More *@

    <section class="AboutUs_ThirdSection">
        <div class="featured" id="FEATURED">
            <h2>Learn More</h2>

            <div class="rectangle-container">
                <div class="rectangle">
                    <div class="text-container">
                        <h3>
                            Self-discovery and <br />
                            personal development
                        </h3>
                        <p>
                            Individuals may take personality tests to
                            gain insights into their strengths, weaknesses,
                            and areas for growth. This self-awareness can
                            help them make informed decisions about their
                            lives, relationships, and careers.
                        </p>
                    </div>

                    <div class="image-container">
                        <img src="/Images/Image1.jpg">
                    </div>
                </div>
            </div>

            <div class="rectangle-container">
                <div class="rectangle">
                    <div class="image-container">
                        <img src="/Images/Image2.jpg">
                    </div>

                    <div class="text-container">
                        <h3>
                            Career assessment and <br />
                            counseling
                        </h3>
                        <p>
                            Personality tests are often used in career
                            counseling to help individuals identify suitable
                            career paths, based on their personality traits and
                            preferences. Understanding one's personality can
                            inform career choices and job satisfaction.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
