@{
    ViewData["Title"] = "AboutUs Page";
}

<style>
    *{
        margin: 0;
        padding: 0;
    }

</style>

<body class="AboutUs_Body">
    <section class="AboutUs_FirstSection" id="AboutUs_FirstSection">
       
    </section>

    <section class="AboutUs_SecondSection" id="AboutUs_SecondSection">
        <!-- Additional content can go here if needed -->
    </section>

    <section class="AboutUs_ThirdSection" id="AboutUs_ThirdSection">
        <!-- Additional content can go here if needed -->
    </section>
</body>

