@{
    ViewData["Title"] = "AboutUs Page";
}

<style>
    *{
        margin: 0;
        padding: 0;
    }

    .AboutUs_Body {
        margin-top: 5%;
    }

    .AboutUs_FirstSection,
    .AboutUs_SecondSection,
    .AboutUs_ThirdSection {
        width: 100%;
        height: 100vh;
        position: relative;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .AboutUs_FirstSection {
        background-image: url("../images/AboutUs-Images/AboutUs_1.png");
    }

    .AboutUs_SecondSection {
        background-image: url("../images/AboutUs-Images/AboutUs_2.png");
    }

    .AboutUs_ThirdSection {
        background-image: url("../images/AboutUs-Images/AboutUs_3.png");
    }

</style>

<body class="AboutUs_Body">
    <section class="AboutUs_FirstSection" id="AboutUs_FirstSection">
       
    </section>

    <section class="AboutUs_SecondSection" id="AboutUs_SecondSection">
        <!-- Additional content can go here if needed -->
    </section>

    <section class="AboutUs_ThirdSection" id="AboutUs_ThirdSection">
        <!-- Additional content can go here if needed -->
    </section>
</body>

