@{
    ViewData["Title"] = "Adventurer Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Adventurer_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">
    
    <section class="Banner" id="Banner">
        <img src="/images/Explorers/Adventurer_Banner.png">
    </section>


    <div class="Adventurer_Section_2">
        <section class="Adventurer_Page" id="Adventurer_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE ADVENTURER PERSONALITY TYPE?</p>
            <p>
                SFP (Adventurer) is a personality type with the Introverted, Observant, Feeling, and Prospecting traits. They tend to have open minds, approaching life, new experiences, and people with grounded warmth. Their ability to stay in the moment helps them uncover exciting potentials.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">I change during the course of a day. I wake and I’m one person, and when I go to sleep I know for certain I’m somebody else.</span>
            <span class="quote-author">Bob Dylan</span>
        </div>

        <p style="text-align: justify;">
            People with the ISFP personality type (Adventurers) are true artists – although not necessarily in the conventional sense. For these types, life itself is a canvas for self-expression. From what they wear to how they spend their free time, they act in ways that vividly reflect who they are as unique individuals. With their exploratory spirit and their ability to find joy in everyday life, ISFPs can be among the most interesting people you’ll ever meet.
        </p>
    </div>
</body>
