@{
    ViewData["Title"] = "Advocate Page";
}


<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Advocate_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">
    <section class="Banner" id="Banner">
        <img src="/images/Diplomats/Advocate.png" alt="Advocate Banner">
    </section>

    <div class="Advocate_Section_2">
        <section class="Advocate_Page" id="Advocate_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE ADVOCATE PERSONALITY TYPE</p>
            <p>
                INFJ (Advocate) is a personality type with the Introverted, Intuitive, Feeling, and Judging traits. They tend to approach life with deep thoughtfulness and imagination. <br >Their inner vision, personal values, and a quiet, principled version of humanism guide them in all things.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">Treat people as if they were what they ought to be and you help them to become what they are capable of being.</span>
            <span class="quote-author">Johann Wolfgang Von Goethe</span>
        </div>

        <p style="text-align: justify;">
            Idealistic and principled, people with the INFJ personality type (Advocates) aren’t content to coast through life – they want to stand up and make a difference. For these compassionate personalities, success doesn’t come from money or status but from seeking fulfillment, helping others, and being a force for good in the world.
        </p>



    </div>
</body>
