@{
    ViewData["Title"] = "Architect Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .ArchitectBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

    .ArchitectBanner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Architect_Page h2 {
        color: #343C4B;
    }

</style>

<body class="ArchitectPage_Body">
    <section class="ArchitectBanner" id="ArchitectBanner">
        <img src="/images/Personality-Images/Architect_Banner.png" alt="Architect Banner">
    </section>

    <div class="Architect_Section_2">
        <section class="Architect_Page" id="Architect_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE ARCHITECT PERSONALITY TYPE</p>
            <p style="text-align: justify;">
                INTJ (Architect) is a personality type with the Introverted, Intuitive, Thinking, and Judging traits. 
                These thoughtful tacticians love perfecting the details of life, applying creativity and rationality to everything they do. Their inner world is often a private, complex one.
            </p>
        </section>
    </div>
</body>