@{
    ViewData["Title"] = "Architect Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .LogicianBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .LogicianBanner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

</style>

<body class="LogicianPage_Body">
    <section class="LogicianBanner" id="LogicianBanner">
        <img src="/images/Personality-Images/Architect_Banner.png" alt="Logician Banner">
    </section>

</body>