@{
    ViewData["Title"] = "Architect Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .ArchitectBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

    .ArchitectBanner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Architect_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="ArchitectPage_Body">
    <section class="ArchitectBanner" id="ArchitectBanner">
        <img src="/images/Personality-Images/Architect_Banner.png" alt="Architect Banner">
    </section>

    <div class="Architect_Section_2">
        <section class="Architect_Page" id="Architect_Page">
            <h2>INTRODUCTION</h2>

            <p style="font-weight: bold;">WHO IS THE ARCHITECT PERSONALITY TYPE</p>

            <p style="text-align: justify;">
                INTJ (Architect) is a personality type with the Introverted, Intuitive, Thinking, and Judging traits. 
                These thoughtful tacticians love perfecting the details of life, applying creativity and rationality to everything they do. Their inner world is often a private, complex one.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">Thought constitutes the greatness of man. Man is a reed, the feeblest thing in nature, but he is a thinking reed.</span>
            <span class="quote-author">
                Blaise Pascal
            </span>
        </div>

        <p style="text-align: justify;">
            People with the INTJ personality type (Architects) are intellectually curious individuals with a deep-seated thirst for knowledge. INTJs tend to value creative ingenuity, straightforward rationality, and self-improvement. They consistently work toward enhancing intellectual abilities and are often driven by an intense desire to master any and every topic that piques their interest.
        </p>

    </div>
</body>