@{
    ViewData["Title"] = "Campaigner Page";
}


<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Campaigner_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">
    <section class="Banner" id="Banner">
        <img src="/images/Diplomats/Campaigner.png" alt="Campaigner Banner">
    </section>
    <div class="Campaigner_Section_2">
        <section class="Campaigner_Page" id="Campaigner_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE CAMPAIGNER PERSONALITY TYPE</p>
            <p>
                ENFP (Campaigner) is a personality type with the Extraverted, Intuitive, Feeling, and Prospecting traits. <br> These people tend to embrace big ideas and actions that reflect their sense of hope and goodwill toward others. Their vibrant energy can flow in many directions.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">It doesn’t interest me what you do for a living. I want to know what you ache for – and if you dare to dream of meeting your heart’s longing.</span>
            <span class="quote-author">ORIAH MOUNTAIN DREAMER</span>
        </div>

        <p style="text-align: justify;">
            People with the ENFP personality type (Campaigners) are true free spirits – outgoing, openhearted, and open-minded. With their lively, upbeat approach to life, ENFPs stand out in any crowd. But even though they can be the life of the party, they don’t just care about having a good time. These personalities have profound depths that are fueled by their intense desire for meaningful, emotional connections with others.
        </p>
    </div>
</body>