@{
    ViewData["Title"] = "Commander Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .CommanderBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .CommanderBanner img {
            padding-top: 70px;
            width: 100%;
            height: auto;
            display: block;
        }


    .Commander_Page h2 {
        color: #343C4B;
    }
</style>

<body class="Commander_Body">
    <section class="CommandertBanner" id="CommanderBanner">
        <img src="/images/Personality-Images/Commander_Banner.png" alt="Commander Banner">
    </section>

    <div class="Commander_Section_2">
        <section class="Commander_Page" id="Commander_Page">
            <h2>INTRODUCTION</h2>

            <p style="font-weight: bold;">WHO IS THE COMMANDER PERSONALITY TYPE</p>

            <p style ="text-align: justify;">
                ENTJ (Commander) is a personality type with the Extraverted, Intuitive, Thinking, and Judging traits. They are decisive people who love momentum and accomplishment. They gather information to construct their creative visions but rarely hesitate for long before acting on them.
            </p>
        </section>

        

       

    </div>

</body>