@{
    ViewData["Title"] = "Commander Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .CommanderBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .CommanderBanner img {
            padding-top: 70px;
            width: 100%;
            height: auto;
            display: block;
        }


    .Commander_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Commander_Body">
    <section class="CommandertBanner" id="CommanderBanner">
        <img src="/images/Personality-Images/Commander_Banner.png" alt="Commander Banner">
    </section>

    <div class="Commander_Section_2">
        <section class="Commander_Page" id="Commander_Page">
            <h2>INTRODUCTION</h2>

            <p style="font-weight: bold;">WHO IS THE COMMANDER PERSONALITY TYPE</p>

            <p style ="text-align: justify;">
                ENTJ (Commander) is a personality type with the Extraverted, Intuitive, Thinking, and Judging traits. They are decisive people who love momentum and accomplishment. They gather information to construct their creative visions but rarely hesitate for long before acting on them.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">Your time is limited, so don’t waste it living someone else’s life.</span>
            <span class="quote-author">
                Steve Jobs
            </span>
        </div>

        <p style="text-align: justify;">
            People with the ENTJ personality type (Commanders) are natural-born leaders. Embodying the gifts of charisma and confidence, ENTJs project authority in a way that draws crowds together behind a common goal. However, these personalities are also characterized by an often ruthless level of rationality, using their drive, determination, and sharp mind to achieve whatever objectives they’ve set for themselves. Their intensity might sometimes rub people the wrong way, but ultimately, ENTJs take pride in both their work ethic and their impressive level of self-discipline.
        </p>

       

    </div>

</body>