@{
    ViewData["Title"] = "Commander Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .CommanderBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .CommanderBanner img {
            padding-top: 70px;
            width: 100%;
            height: auto;
            display: block;
        }

</style>

<body class="Commander_Body">
    <section class="CommandertBanner" id="CommanderBanner">
        <img src="/images/Personality-Images/Commander_Banner.png" alt="Commander Banner">
    </section>

</body>