@{
    ViewData["Title"] = "Consul Page";
}
<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Consul_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">

    <section class="Banner" id="Banner">
        <img src="/images/Sentinels/Consul.png">
    </section>

    <div class="Consul_Section_2">
        <section class="Consul_Page" id="Consul_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE CONSUL PERSONALITY TYPE?</p>
            <p>
                ESFJ (Consul) is a personality type with the Extraverted, Observant, Feeling, and Judging traits. They are attentive and people-focused, and they enjoy taking part in their social community. Their achievements are guided by decisive values, and they willingly offer guidance to others.
            </p>
