@{
    ViewData["Title"] = "Debater Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .DebaterBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .DebaterBanner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Debater_Page h2 {
        color: #343C4B;
    }

</style>

<body class="Debater_Body">
    <section class="DebaterBanner" id="DebaterBanner">
        <img src="/images/Personality-Images/Debater_Banner.png" alt="Debater Banner">
    </section>

    <div class="Debatert_Section_2">
        <section class="Debater_Page" id="Debater_Page">
            <h2>INTRODUCTION</h2>

            <p style="font-weight: bold;">WHO IS THE DEBATER PERSONALITY TYPE</p>

            <p style="text-align: justify;">
                ENTP (Debater) is a personality type with the Extraverted, Intuitive, Thinking, and Prospecting traits. They tend to be bold and creative, deconstructing and rebuilding ideas with great mental agility. They pursue their goals vigorously despite any resistance they might encounter.
            </p>
        </section>

    </div>
</body>