@{
    ViewData["Title"] = "Debater Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .DebaterBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .DebaterBanner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Debater_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }
</style>

<body class="Debater_Body">
    <section class="DebaterBanner" id="DebaterBanner">
        <img src="/images/Personality-Images/Debater_Banner.png" alt="Debater Banner">
    </section>

    <div class="Debatert_Section_2">
        <section class="Debater_Page" id="Debater_Page">
            <h2>INTRODUCTION</h2>

            <p style="font-weight: bold;">WHO IS THE DEBATER PERSONALITY TYPE</p>

            <p style="text-align: justify;">
                ENTP (Debater) is a personality type with the Extraverted, Intuitive, Thinking, and Prospecting traits. They tend to be bold and creative, deconstructing and rebuilding ideas with great mental agility. They pursue their goals vigorously despite any resistance they might encounter.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">Follow the path of the unsafe, independent thinker. Expose your ideas to the dangers of controversy.</span>
            <span class="quote-author">
                Thomas J. Watson
            </span>
        </div>

        <p style="text-align: justify;">
            Quick-witted and audacious, people with the ENTP personality type (Debaters) aren’t afraid to disagree with the status quo. In fact, they’re not afraid to disagree with pretty much anything or anyone. Few things light up these personalities more than a bit of verbal sparring – and if the conversation veers into controversial terrain, so much the better.
        </p>

    </div>
</body>