@{
    ViewData["Title"] = "Debater Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .DebaterBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .DebaterBanner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }



</style>

<body class="Debater_Body">
    <section class="DebaterBanner" id="DebaterBanner">
        <img src="/images/Personality-Images/Debater_Banner.png" alt="Debater Banner">
    </section>

</body>