@{
    ViewData["Title"] = "Defender Page";
}
<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Adventurer_Page h2 {
        color: #343C4B;
    }

</style>

<body class="Page_Body">

    <section class="Banner" id="Banner">
        <img src="/images/Sentinels/Defender.png">
    </section>

    <div class="Adventurer_Section_2">
        <section class="Adventurer_Page" id="Adventurer_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE ADVENTURER PERSONALITY TYPE?</p>
            <p>
                SFP (Adventurer) is a personality type with the Introverted, Observant, Feeling, and Prospecting traits. They tend to have open minds, approaching life, new experiences, and people with grounded warmth. Their ability to stay in the moment helps them uncover exciting potentials.
            </p>
        </section>

    </div>
</body>