@{
    ViewData["Title"] = "Defender Page";
}
<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Adventurer_Page h2 {
        color: #343C4B;
    }

</style>

<body class="Page_Body">

    <section class="Banner" id="Banner">
        <img src="/images/Sentinels/Defender.png">
    </section>

    <div class="Defender_Section_2">
        <section class="Defender_Page" id="Defender_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE DEFENDER PERSONALITY TYPE?</p>
            <p>
                ISFJ (Defender) is a personality type with the Introverted, Observant, Feeling, and Judging traits. These people tend to be warm and unassuming in their own steady way. They’re efficient and responsible, giving careful attention to practical details in their daily lives.
            </p>
        </section>
        <div class="quote-container">
            <span class="quote-text">Love only grows by sharing. You can only have more for yourself by giving it away to others.</span>
            <span class="quote-author">Brian Tracy</span>
        </div>

        <p style="text-align: justify;">
            In their unassuming, understated way, people with the ISFJ personality type (Defenders) help make the world go round. 
            Hardworking and devoted, these personalities feel a deep sense of responsibility to those around them. ISFJs can be counted on to meet deadlines, 
            remember birthdays and special occasions, uphold traditions, and shower their loved ones with gestures of care and support. 
            But they rarely demand recognition for all that they do, preferring instead to operate behind the scenes.
        </p>
    </div>
</body>