@{
    ViewData["Title"] = "Entertainer Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Entertainer_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">
    <section class="Banner" id="Banner">
        <img src="/images/Explorers/Entertainer_Banner.png">
    </section>

    <div class="Entertainer_Section_2">
        <section class="Entertainer_Page" id="Entertainer_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE ENTERTAINER PERSONALITY TYPE?</p>
            <p>
                ESFP (Entertainer) is a personality type with the Extraverted, Observant, Feeling, and Prospecting traits. These people love vibrant experiences, engaging in life eagerly and taking pleasure in discovering the unknown. They can be very social, often encouraging others into shared activities.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">Live for each second without hesitation.</span>
            <span class="quote-author">ELTON JOHN</span>
        </div>

        <p style="text-align: justify;">
            If anyone is to be found spontaneously breaking into song and dance, it is people with the ESFP personality type (Entertainers). They get caught up in the excitement of the moment and want everyone else to feel that way too. No other type is as generous with their time and energy when it comes to encouraging others, and no other type does it with such irresistible style.
        </p>
    </div>
</body>
