@{
    ViewData["Title"] = "Entrepreneur Page";
}


<body class="Page_Body">

    <section class="Banner" id="Banner">
        <img src="/images/Explorers/Entrepreneur_Banner.png">
    </section>


    <div class="Entrepreneur_Section_2">
        <section class="Entrepreneur" id="Entrepreneur">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE ENTREPRENEUR PERSONALITY TYPE?</p>
            <p>
                ESTP (Entrepreneur) is a personality type with the Extraverted, Observant, Thinking, and Prospecting traits. They tend to be energetic and action-oriented, deftly navigating whatever is in front of them. They love uncovering life’s opportunities, whether socializing with others or in more personal pursuits.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text"> </span>
            <span class="quote-author"> </span>
        </div>

        <p style="text-align: justify;">
            People with the ESTP personality type (Entrepreneurs) are vibrant individuals brimming with an enthusiastic and spontaneous energy. They tend to be on the competitive side, often assuming that a competitive mindset is a necessity in order to achieve success in life. With their driven, action-oriented attitudes, they rarely waste time thinking about the past. In fact, they excel at keeping their attention rooted in their present – so much so that they rarely find themselves fixated on the time throughout the day.
        </p>
    </div>
</body>
