@{
    ViewData["Title"] = "Entrepreneur Page";
}


<body class="Page_Body">

    <section class="Banner" id="Banner">
        <img src="/images/Explorers/Entrepreneur_Banner.png">
    </section>


    <div class="Entrepreneur_Section_2">
        <section class="Entrepreneur" id="Entrepreneur">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE ENTREPRENEUR PERSONALITY TYPE?</p>
            <p>

            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text"> </span>
            <span class="quote-author"> </span>
        </div>

        <p style="text-align: justify;">

        </p>
    </div>
</body>
