@{
    ViewData["Title"] = "Executive Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Executive_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">

    <section class="Banner" id="Banner">
        <img src="/images/Sentinels/Executive.png">
    </section>

    <div class="Defender_Section_2">
        <section class="Executive_Page" id="Executive_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE EXECUTIVE PERSONALITY TYPE?</p>
            <p>
                ESTJ (Executive) is a personality type with the Extraverted, Observant, Thinking, and Judging traits. 
                They possess great fortitude, emphatically following their own sensible judgment. 
                They often serve as a stabilizing force among others, able to offer solid direction amid adversity.
            </p>
