@{
    ViewData["Title"] = "Logician Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .LogicianBanner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .LogicianBanner img {
            padding-top:60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Logician_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="LogicianPage_Body">
    <section class="LogicianBanner" id="LogicianBanner">
        <img src="/images/Logician/Logician_Banner.png" alt="Logician Banner">
    </section>

    <div class="Logician_Section_2">
        <section class="Logician_Page" id="Logician_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE LOGICIAN PERSONALITY TYPE</p>
            <p>
                INTP (Logician) is a personality type with the Introverted, Intuitive, Thinking, and Prospecting traits. These flexible thinkers enjoy taking an <br />
                unconventional approach to many aspects of life. They often seek out unlikely paths, mixing willingness to experiment with personal creativity.</p>
        </section>

        <div class="quote-container">
            <span class="quote-text">The important thing is not to stop questioning. Curiosity has its own reason for existence.</span>
            <span class="quote-author">ALBERT EINSTEIN</span>
        </div>

        <p style="text-align: justify;">
            People with the INTP personality type (Logicians) pride themselves on their unique perspective and vigorous intellect. They can’t help but puzzle over 
            the mysteries of the universe – which may explain why some of the most influential philosophers and scientists of all time have been INTPs.
            People with this personality type tend to prefer solitude, as they can easily become immersed in their thoughts when they are left to their own devices.
            They are also incredibly creative and inventive, and they are not afraid to express their novel ways of thinking or to stand out from the crowd.
        </p>


    </div>
</body>
