@{
    ViewData["Title"] = "Logistician Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Logistician_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

body class="Page_Body">

<section class="Banner" id="Banner">
    <img src="/images/Sentinels/Logistician.png">
</section>

<div class="Logistician_Section_2">
    <section class="Logistician_Page" id="Logistician_Page">

        <h2>INTRODUCTION</h2>
        <p style="font-weight: bold;">WHO IS THE LOGISTICIAN PERSONALITY TYPE?</p>
        <p>
            ISTJ (Logistician) is a personality type with the Introverted, Observant, Thinking, and Judging traits. These people tend to be reserved yet willful, with a rational outlook on life. They compose their actions carefully and carry them out with methodical purpose.
        </p>
    </section>
        <div class="quote-container">
            <span class="quote-text">I’d be more frightened by not using whatever abilities I’d been given. I’d be more frightened by procrastination and laziness..</span>
            <span class="quote-author">DENZEL WASHINGTON</span>
        </div>
        <p style="text-align: justify;">
        People with the ISTJ personality type (Logisticians) mean what they say and say what they mean, and when they commit to doing something, they make sure to follow through. 
        With their responsible and dependable nature, it might not be so surprising that ISTJ personalities also tend to have a deep respect for structure and tradition. 
        They are often drawn to organizations, workplaces, and educational settings that offer clear hierarchies and expectations.
        </p>
</div>
</body>