@{
    ViewData["Title"] = "Mediator Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Mediator_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">
    <section class="Banner" id="Banner">
        <img src="/images/Diplomats/Mediator.png" alt="Advocate Banner">
    </section>

    <div class="Advocate_Section_2">
        <section class="Mediator_Page" id="Mediator_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE MEDIATOR PERSONALITY TYPE</p>
            <p>
                INFP (Mediator) is a personality type with the Introverted, Intuitive, Feeling, and Prospecting traits. These rare personality types tend to be quiet, open-minded, and imaginative, and they apply a caring and creative approach to everything they do.
            </p>
        </section>
        <div class="quote-container">
            <span class="quote-text">All that is gold does not glitter; not all those who wander are lost; the old that is strong does not wither; deep roots are not reached by the frost.</span>
            <span class="quote-author">J. R. R. TOLKIEN</span>
        </div>

        <p style="text-align: justify;">
            Although they may seem quiet or unassuming, people with the INFP personality type (Mediators) have vibrant, passionate inner lives. Creative and imaginative, they happily lose themselves in daydreams, inventing all sorts of stories and conversations in their mind. INFPs are known for their sensitivity – these personalities can have profound emotional responses to music, art, nature, and the people around them. They are known to be extremely sentimental and nostalgic, often holding onto special keepsakes and memorabilia that brighten their days and fill their heart with joy.
        </p>
    </div>

</body>