@{
    ViewData["Title"] = "Personality Page";
}

<body class="PersonalityPage_Body">
    <section class="Personality_Page" id="Personality_Page">
        <div class="Personal_Text_Container">
            <h1>Personality Types</h1>
            <div class="button-container">
                <button class="btn_takequiz">Take a quiz</button>
            </div>
        </div>

        <div class="Analysts-Text-Container">
            <img src="~/images/Analyst_Text_new.png" alt="">
        </div>

        <div class="Personality_Type_Image_Container">
            <div class="vector_container">
                <div class="vector-item">
                    <img class="vector1" src="~/images/Architect.png" alt="">
                    <div class="title-text title1">
                        <h1 class="types text1">Architect</h1>
                        <h3 class="desc">INTJ - A / INTJ - T</h3>
                    </div>
                </div>

                <div class="vector-item">
                    <img class="vector2" src="~/images/Logician.png" alt="">
                    <div class="title-text title2">
                        <h1 class="types text2">Logician</h1>
                        <h3 class="desc">INTJ-A / INTP-T</h3>
                    </div>
                </div>

                <div class="vector-item">
                    <img class="vector3" src="~/images/Commander.png" alt="">
                    <div class="title-text title3">
                        <h1 class="types text3">Commander</h1>
                        <h3 class="desc">ENTJ-A / INTJ-T</h3>
                    </div>
                </div>

                <div class="vector-item">
                    <img class="vector4" src="~/images/Debater.png" alt="">
                    <div class="title-text title4">
                        <h1 class="types text4">Debater</h1>
                        <h3 class="desc">INTJ-A / INTJ-T</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <section class="Diplomat_Page" id="Diplomat_Page">
     <div class="Diplomat-Text-Container">
            <img src="~/images/Diplomat_Text-Image.png" alt="">
        </div>

        <div class="Diplomat_Type_Image_Container">
            <div class="vector_container">
                <div class="vector-item">
                    <img class="vector1" src="~/images/Advocate.png" alt="">
                    <div class="title-text title1">
                        <h1 class="types text1">Advocate</h1>
                        <h3 class="desc">INFJ - A / INFJ - T</h3>
                    </div>
                </div>

                <div class="vector-item">
                    <img class="vector2" src="~/images/Mediator.png" alt="">
                    <div class="title-text title2">
                        <h1 class="types text2">Mediator</h1>
                        <h3 class="desc">INFP-A / INFP-T</h3>
                    </div>
                </div>

                <div class="vector-item">
                    <img class="vector3" src="~/images/Protagonist.png" alt="">
                    <div class="title-text title3">
                        <h1 class="types text3">Protagonist</h1>
                        <h3 class="desc">ENFJ-A / ENFJ-T</h3>
                    </div>
                </div>

                <div class="vector-item">
                    <img class="vector4" src="~/images/Campaigner.png" alt="">
                    <div class="title-text title4">
                        <h1 class="types text4">Campaigner</h1>
                        <h3 class="desc">ENFP-A / ENFP-T</h3>
                    </div>
                </div>
            </div>
        </div>
  </section>

</body>