@{
    ViewData["Title"] = "Protagonist Page";
}


<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Protagonist_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>
<body class="Page_Body">
    <section class="Banner" id="Banner">
        <img src="/images/Diplomats/Protagonist.png" alt="Protagonist Banner">
    </section>

    <div class="Advocate_Section_2">
        <section class="Advocate_Page" id="Advocate_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE PROTAGONIST PERSONALITY TYPE</p>
            <p>
                ENFJ (Protagonist) is a personality type with the Extraverted, Intuitive, Feeling, and Judging traits. These warm, forthright types love helping others, and they tend to have strong ideas and values. They back their perspective with the creative energy to achieve their goals.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">When the whole world is silent, even one voice becomes powerful.</span>
            <span class="quote-author">MALALA YOUSAFZAI</span>
        </div>

        <p style="text-align: justify;">
            People with the ENFJ personality type (Protagonists) feel called to serve a greater purpose in life. Thoughtful and idealistic, ENFJs strive to have a positive impact on other people and the world around them. These personalities rarely shy away from an opportunity to do the right thing, even when doing so is far from easy.
        </p>
    </div>
</body>