@{
    ViewData["Title"] = "Advocate Page";
}


<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .Banner {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .Banner img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }

    .Virtuoso_Page h2 {
        color: #343C4B;
    }

    .quote-container {
        display: flex;
        flex-direction: column;
        border-left: 3px solid #6A1B9A;
        padding-left: 10px;
        font-family: Arial, sans-serif;
        font-size: 1rem;
        color: #212529;
        margin: 20px 0;
    }

    .quote-text {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quote-author {
        font-weight: normal;
        color: #555;
    }

</style>

<body class="Page_Body">
    <section class="Banner" id="Banner">
        <img src="/images/Explorers/Virtuoso_Banner.png">
    </section>

    <div class="Advocate_Section_2">
        <section class="Virtuoso_Page" id="Virtuoso_Page">
            <h2>INTRODUCTION</h2>
            <p style="font-weight: bold;">WHO IS THE VIRTUOSO PERSONALITY TYPE?</p>
            <p>
                STP (Virtuoso) is a personality type with the Introverted, Observant, Thinking, and Prospecting traits. They tend to have an individualistic mindset, pursuing goals without needing much external connection. <br> They engage in life with inquisitiveness and personal skill, varying their approach as needed. <br>Their inner vision, personal values, and a quiet, principled version of humanism guide them in all things.
            </p>
        </section>

        <div class="quote-container">
            <span class="quote-text">I wanted to live the life, a different life. I didn’t want to go to the same place every day and see the same people and do the same job. I wanted interesting challenges.</span>
            <span class="quote-author">Harrison Ford</span>
        </div>

        <p style="text-align: justify;">
            People with the ISTP personality type (Virtuosos) love to explore with their hands and their eyes, touching and examining the world around them with an impressive diligence, a casual curiosity, and a healthy dose of skepticism. They are natural makers, moving from project to project, building the useful and the superfluous for the fun of it and learning from their environment as they go. They find no greater joy than in getting their hands dirty pulling things apart and putting them back together, leaving them just a little bit better than they were before.
        </p>
    </div>
</body>
