@{
    ViewData["Title"] = "Landing Page";
}

<style>
    .landingpage {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
    }

        .landingpage img {
            padding-top: 60px;
            width: 100%;
            height: auto;
            display: block;
        }
</style>

<body>
    <section class="landingpage">
        <img src="/images/landingpage.png">
    </section>
</body>