@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="~/css/quizui.css" />

<body>
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="Questionaires">
            <h3 class="questiontitle">You can easily connect with people you have just met.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">If your plans are interrupted, your top priority is to get back on track as soon as possible.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You are still bothered by mistakes that you made a long time ago.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You are not too interested in discussing theories on what the world could look like in the future.</h3>
            <div class="scale">
                <h2 class="Agreetext">Agree</h2>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">Your emotions control you more than you control them.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
         </div>
        <div class="Questionaires">
            <h3 class="questiontitle">When making decisions, you focus more on how the affected <br> people might feel than on what is most logical or efficient.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="divbtn">
            <a class="nextbtn" asp-area="" asp-controller="QuizUI" asp-action="QuizPage9">
                <span class="nexttext">Next</span>
                <span class="rightarrow">→</span>
            </a>
        </div>
    </section>
</body>