@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="~/css/quizui.css" />

<body>
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="Questionaires">
            <h3 class="questiontitle">You prioritize and plan tasks effectively, often completing them well before the deadline.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">People’s stories and emotions speak louder to you than numbers or data.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You like to use organizing tools like schedules and lists.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">Even a small mistake can cause you to doubt your overall abilities and knowledge.</h3>
            <div class="scale">
                <h2 class="Agreetext">Agree</h2>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You feel comfortable just walking up to someone you find interesting and striking up a conversation.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
         </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You are not too interested in discussions about various interpretations of creative works.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="divbtn">
            <a class="nextbtn" asp-area="" asp-controller="QuizUI" asp-action="QuizPage3">
                <span class="nexttext">Next</span>
                <span class="rightarrow">→</span>
            </a>
        </div>
        </button>
    </section>
</body>