@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="~/css/quizui.css" />

<body>
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="Questionaires">
            <h3 class="questiontitle">You actively seek out new experiences and knowledge areas to explore.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question1" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question1" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question1" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question1" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question1" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question1" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question1" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You are prone to worrying that things will take a turn for the worse.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question2" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question2" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question2" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question2" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question2" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question2" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question2" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You enjoy solitary hobbies or activities more than group ones.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question3" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question3" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question3" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question3" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question3" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question3" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question3" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You cannot imagine yourself writing fictional stories for a living.</h3>
            <div class="scale">
                <h2 class="Agreetext">Agree</h2>
                <input type="radio" name="question4" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question4" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question4" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question4" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question4" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question4" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question4" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You favor efficiency in decisions, even if it means disregarding some emotional aspects.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question5" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question5" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question5" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question5" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question5" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question5" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question5" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
         </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You prefer to do your chores before allowing yourself to relax.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question6" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question6" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question6" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question6" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question6" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question6" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question6" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="divbtn">
            <a class="nextbtn" asp-area="" asp-controller="QuizUI" asp-action="QuizPage5">
                <span class="nexttext">Next</span>
                <span class="rightarrow">→</span>
            </a>
        </div>
    </section>
</body>