@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="~/css/quizui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".nextbtn").click(function () {
            // Recalculate the sum
            let sum = 0;
            const radioButtons = document.querySelectorAll("input[type='radio']:checked");

            radioButtons.forEach(function (radioButton) {
                sum += parseInt(radioButton.getAttribute("data-value"));
            });

            // Get the current page URL
            const currentPageUrl = window.location.href;

            // Extract the current sum from the URL
            const urlSearchParams = new URLSearchParams(window.location.search);
            let existingSum = parseInt(urlSearchParams.get("sum"));

            // Add the current sum to the existing sum
            existingSum = existingSum || 0;
            sum += existingSum;
            // Send the sum to the controller via AJAX POST request
            $.ajax({
                type: "POST",
                url: "/LandingPage/Direct",
                data: { sum: sum },
                success: function (response) {
                    // Redirect to the URL returned by the controller
                    switch (response.action) {
                        case "Protagonist":
                            window.location.href = "/LandingPage/LandingPage";
                            break;
                        case "PersonalityPage":
                            window.location.href = "/Personality/PersonalityPage";
                            break;
                        // Add other cases for different actions if needed
                        default:
                            console.log("Unknown action received in response.");
                            break;
                    }
                },
                error: function () {
                    // Handle error if any
                    console.log("Error occurred while sending sum to the controller.");
                }
            });
        });
    });
</script>

<body>
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="Questionaires">
            <h3 class="questiontitle">You often feel overwhelmed.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question1" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question1" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question1" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question1" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question1" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question1" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question1" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You complete things methodically without skipping over any steps.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question2" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question2" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question2" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question2" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question2" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question2" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question2" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You prefer tasks that require you to come up with <br>creative solutions rather than follow concrete steps.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question3" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question3" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question3" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question3" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question3" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question3" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question3" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You are more likely to rely on emotional intuition than logical reasoning when making a choice.</h3>
            <div class="scale">
                <h2 class="Agreetext">Agree</h2>
                <input type="radio" name="question4" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question4" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question4" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question4" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question4" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question4" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question4" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You struggle with deadlines.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question5" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question5" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question5" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question5" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question5" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question5" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question5" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
         </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You feel confident that things will work out for you.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question6" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question6" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question6" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question6" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question6" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question6" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question6" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="divbtn">
            <button class="nextbtn" id="seeResultsBtn">
                <span class="nexttext">See results</span>
                <span class="rightarrow">→</span>
            </button>
        </div>
        
    </section>
</body>