@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="~/css/quizui.css" />

<body>
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="Questionaires">
            <h3 class="questiontitle">You often feel overwhelmed.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You complete things methodically without skipping over any steps.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You prefer tasks that require you to come up with <br>creative solutions rather than follow concrete steps.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You are more likely to rely on emotional intuition than logical reasoning when making a choice.</h3>
            <div class="scale">
                <h2 class="Agreetext">Agree</h2>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You struggle with deadlines.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
         </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You feel confident that things will work out for you.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="divbtn">
            <button class="nextbtn">
            <span class="nexttext">See results</span>
            <span class="rightarrow">→</span>
        </div>
        </button>
    </section>
</body>