@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="~/css/quizui.css" />

<body>
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="Questionaires">
            <h3 class="questiontitle">You regularly make new friends.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question1" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question1" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question1" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question1" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question1" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question1" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question1" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">Complex and novel ideas excite you more than simple and straightforward ones.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question2" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question2" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question2" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question2" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question2" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question2" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question2" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You usually feel more persuaded by what resonates emotionally with you than by factual arguments.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question3" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question3" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question3" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question3" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question3" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question3" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question3" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">Your living and working spaces are clean and organized.</h3>
            <div class="scale">
                <h2 class="Agreetext">Agree</h2>
                <input type="radio" name="question4" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question4" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question4" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question4" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question4" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question4" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question4" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You usually stay calm, even under a lot of pressure.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question5" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question5" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question5" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question5" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question5" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question5" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question5" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
         </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You find the idea of networking or promoting yourself to strangers very daunting.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <input type="radio" name="question6" class="scale-button green" id="green1" data-value="1">
                <input type="radio" name="question6" class="scale-button green" id="green2" data-value="2">
                <input type="radio" name="question6" class="scale-button green" id="green3" data-value="3">
                <input type="radio" name="question6" class="scale-button white" id="white" data-value="4" checked>
                <input type="radio" name="question6" class="scale-button red" id="red1" data-value="5">
                <input type="radio" name="question6" class="scale-button red" id="red2" data-value="6">
                <input type="radio" name="question6" class="scale-button red" id="red3" data-value="7">
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="divbtn">
            <a class="nextbtn" asp-area="" asp-controller="QuizUI" asp-action="QuizPage2">
                <span class="nexttext">Next</span>
                <span class="rightarrow">→</span>
            </a>
        </div>
    </section>
</body>