@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="~/css/quizui.css" />

<body>
    <section class="QuizUI_Page" id="QuizUI_Page">
        <div class="Questionaires">
            <h3 class="questiontitle">Your personal work style is closer to spontaneous <br> bursts of energy than organized and consistent efforts.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">When someone thinks highly of you, you wonder <br> how long it will take them to feel disappointed in you.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You would love a job that requires you to work alone most of the time.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You believe that pondering abstract philosophical questions is a waste of time.</h3>
            <div class="scale">
                <h2 class="Agreetext">Agree</h2>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="Questionaires">
            <h3 class="questiontitle">You feel more drawn to busy, bustling atmospheres than to quiet, intimate places.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
         </div>
        <div class="Questionaires">
            <h3 class="questiontitle">If a decision feels right to you, you often act on it without needing further proof.</h3>
            <div class="scale">
                <h3 class="Agreetext">Agree</h3>
                <button class="scale-button green" id="green1" data-value="1"></button>
                <button class="scale-button green" id="green2" data-value="2"></button>
                <button class="scale-button green" id="green3" data-value="3"></button>
                <button class="scale-button white" id="white" data-value="4"></button>
                <button class="scale-button red" id="red1" data-value="5"></button>
                <button class="scale-button red" id="red2" data-value="6"></button>
                <button class="scale-button red" id="red3" data-value="7"></button>
                <h3 class="Disagreetext">Disagree</h3>
            </div>
        </div>
        <div class="divbtn">
            <a class="nextbtn" asp-area="" asp-controller="QuizUI" asp-action="QuizPage10">
                <span class="nexttext">Next</span>
                <span class="rightarrow">→</span>
            </a>
        </div>
    </section>
</body>