* {
    margin: 0;
    padding: 0;
}

.PersonalityPage_Body {
    background-image: url("../images/bgggg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Personality_Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: relative;
}

.Analysts-Text-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.Analysts-Text-Container img {
    width: 90%;
}

.Personality_Type_Image_Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 10;
    margin-top: 20%;
}

.vector1, .vector2, .vector3, .vector4 {
    width: 30%;
    margin-left: 22px;
    margin-right: 15px;
}

.vector_container {
    display: flex;
    justify-content: center;
    align-items: center;
}