@font-face {
    font-family: 'The Seasons';
    src: url('~/quizui_images/Fontspring-DEMO-theseasons-reg.otf'); /* Ensure the path and format are correct */
}

* {
    margin: 0;
    padding: 0;
}
.QuizUI_Body {
    font-family: 'The Seasons'; /* Use quotes around the font family name */
    font-style: normal;
    font-weight: 300;
    background-image: linear-gradient(#eab6ff,#9951eb,#20072a)
}

.Title_container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    flex-direction: column;
    text-align: center;

}
.maintitle {
    font-size: 60px;
    margin-bottom:20px;
}

.questiontitle{
    justify-content:center;
    text-align:center;
    margin-bottom: 40px;
}
.planetbg_container {
    position: relative;
    width: 100%;
    height: 25vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
}

.planetbg_container img {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 500px; /* Adjust width as needed */
        height: auto; /* Maintain aspect ratio */
}

.Questionaires{
    text-align:center;
    border-bottom: 5px solid black;
    width: 100;
    padding-top: 10px;
    padding-bottom: 25px;
}

.scale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scale-button {
    width: 40px; /*defaultvalue*/
    height: 40px; 
    border: 2px solid;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

#yellow1{
    width:100px;
    height: 100px;
}
#yellow2 {
    width: 80px;
    height: 80px;
}
#yellow3 {
    width: 60px;
    height: 60px;
}
#white {
    width: 40px;
    height: 40px;
}
#red1 {
    width: 60px;
    height: 60px;
}
#red2 {
    width: 80px;
    height: 80px;
}
#red3 {
    width: 100px;
    height: 100px;
}
.scale-button.yellow {
    border-color: yellow;
}

.scale-button.red {
    border-color: red;
}
.scale-button.white {
    border-color: white;
}

.scale-button.selected {
    background-color: rgba(255, 255, 255, 0.3);
}

.coloredplanetbg_container {
    padding-top: 40px;
    position: relative;
    bottom: 10px;
    left: 10px;
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}
.nextbtn {
    position: absolute;
    bottom: 0;
    right: 0;
}

