.QuizUI_Page {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    flex-direction: column;
    text-align: center;
}

.maintitle {
    font-size: 60px;
    margin-bottom: 20px;
}

.questiontitle {
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.Questionaires {
    text-align: center;
    border-bottom: 2px solid black;
    width: 100;
    padding-top: 10px;
    padding-bottom: 25px;
}

.scale {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scale-button {
    width: 40px; /*defaultvalue*/
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 0.4s;
}

#green1 {
    width: 100px;
    height: 100px;
}

#green2 {
    width: 80px;
    height: 80px;
}

#green3 {
    width: 60px;
    height: 60px;
}

#white {
    width: 40px;
    height: 40px;
}

#red1 {
    width: 60px;
    height: 60px;
}

#red2 {
    width: 80px;
    height: 80px;
}

#red3 {
    width: 100px;
    height: 100px;
}

.scale-button.green {
    border-color: green;
    margin-left: 15px;
    margin-right: 15px;
}

.scale-button.green:hover {
    background-color: green;
}

.scale-button.red {
    border-color: red;
    margin-left: 15px;
    margin-right: 15px;
}

.scale-button.red:hover {
    background-color: red;
}

.scale-button.white {
    border-color: gray;
    margin-left: 10px;
    margin-right: 10px
}

.scale-button.white:hover {
    background-color: gray;
}

.Agreetext {
    color: green;
    margin-right: 15px;
}

.Disagreetext {
    color: red;
    margin-left: 15px;
}

.divbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 5px 30px 5px 70px; /*up right down left*/
    background-color: #88619a;
    color: black;
    font-size: 25px;
    font-weight: normal;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .nextbtn:hover {
        background-color: #533b5e;
        /* box-shadow: 10px 10px 15px #000000; */
    }

.nexttext {
    font-size: 30px;
    margin-right: 5px;
}

.rightarrow {
    font-size: 40px;
}
